:root {
  --blur-effect: blur(1px);
  --blur-timing: 1s;
}

.blur {
  a[href] {
    img {
      transition: var(--blur-timing) cubic-bezier(.2, .11, 0, 1) !important;
      filter: var(--blur-effect) !important;
    }
    img:hover {
      transition: var(--blur-timing) cubic-bezier(.2, .11, 0, 1) !important;
      filter: none !important;
    }
  }
  video {
    transition: var(--blur-timing) cubic-bezier(.2, .11, 0, 1) !important;
    filter: var(--blur-effect) !important;
  }
  video:hover {
    transition: var(--blur-timing) cubic-bezier(.2, .11, 0, 1) !important;
    filter: none !important;
  }
}