:root {
	--blur-effect: blur(1px);
	--blur-timing: 1s;
}

.blur .embedWrapper-1MtIDg img,
.blur .embedWrapper-1MtIDg video {
	transition: var(--blur-timing) !important;
	filter: var(--blur-effect) !important;
}
.blur .embedWrapper-1MtIDg img:hover,
.blur .embedWrapper-1MtIDg video:hover {
	transition: var(--blur-timing) !important;
	filter: none !important;
}
